* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    font-family: 'Lato', 'Roboto', sans-serif;
}

.container {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    border-top: 7px solid black;
    border-bottom: 7px solid black;
    margin: 7rem;
    width: 400px;
}

#todolist {
    display: flex;
    justify-content: space-between;
    padding: .9rem;
}

 
.refresh {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

#value {
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Lato','Roboto', sans-serif;
    flex-grow: 1;
}

#todolist:has(#check:checked){
    color: #555555;
    background-color: #eeeeee;
    text-decoration: line-through;
    order: 1;
}

#check {
    margin-right: 1rem;
}

img {
    width: 20px;
    height: 20px;
    color: #CCD5AE;
}

#sync {
    margin-right: 19px;
}

.heading1 {
    color: grey;
    font-size: 14px;
    font-weight: 700;
    margin-left: 20px;
}

#clearBtn {
    color: rgba(0, 0, 0, 0.788);
    padding: .7rem;
    width: 100%;
    font-size: 1rem;
    border: none;
}

#clearBtn:hover {
    text-decoration: underline;
    color: black;
}